@import url('../assets/normalize/mynormalize.css');




body {
  background: rgb(121, 120, 120);
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  background: #fff;
  padding: 0 10px;
 }

//  Header
.header {
  padding-top: 30px;
}
